{% extends 'base.html' %}

{% block title %}{{ todo_list.name }}{% endblock %}

{% block content %}
    <h1>{{ todo_list.name }}</h1>
    <a href="{% url 'add_todo_item' list_pk=todo_list.pk %}">Add New Item</a>
    <ul>
        {% for item in todo_list.items.all %}
            <li>
                {{ item.name }} - {% if item.completed %}Completed{% else %}Incomplete{% endif %}
                {{ item.text }}
                <a href="{% url 'edit_todo_item' list_pk=todo_list.pk item_pk=item.pk %}">Edit</a>
                <a href="{% url 'delete_todo_item' list_pk=todo_list.pk item_pk=item.pk %}">Delete</a>
            </li>
        {% empty %}
            <li>No items available.</li>
        {% endfor %}
    </ul>
{% endblock %}
